// Constants

// Constant overrrides
$base-font-family:                      "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$alt-font-family:                       "Source Sans Pro", sans-serif !default;
$base-text-color:                       #000 !default;
$base-link-color:                       #07416c !default;
$base-link-color-hover:                 #0879cc !default;
$base-link-color-visited:               #999 !default; //adjust-saturation(#185e91,-80%) !default;
$base-text-align:                       inherit !default;

$vertical-localnews-accent-color:       #12a2de !default; // Leader colour

// Site Fixtures
$fixture-bookend-background:            #fff !default;
$fixture-background:                    none !default;
$fixture-bookend-height:                auto !default;
$fixture-bookend-font:                  normal 24px/24px $base-font-family !default;
$fixture-bookend-font-color:            #0e649e !default;
$fixture-bookend-text-transform:        uppercase !default;
$fixture-margin:                        16px !default;
$fixture-padding:                       7px !default;
$fixture-divider:                       none !default;

// Variable Overrides

$header-ads-background:                 none !default;
$header-logo-background:                image-url('metros/heraldsun/logo.png') no-repeat 10px 8px !default;


$columnist-array:						alan-howe,
										andrew-bolt,
										andrew-rule,
										bev-oconnor,
										charlie-bezzina,
										david-penberthy,
										gerard-whateley,
										dennis-atkins,
										hs-logo,
										james-campbell,
										jeff-kennett,
										jessica-irvine,
										joe-hildebrand,
										jon-ralph,
										laurie-oakes,
										mark-robinson,
										mikey-cahill,
										patrick-carlyon,
										peter-costello,
										phillip-hudson,
										robert-craddock,
										samantha-maiden,
										simon-benson,
										steve-perkin,
										susie-obrien,
										terry-mccrann,
										//Punch
										anthony-sharwood,
										charles-miranda,
										claire-porter,
										ian-mcphedran,
										lanai-scarr,
										rita-panahi,
										lucy-kippist,
										malcolm-farr,
										nicole-manktelow,
										paul-toohey,
										punch-logo,
										samuel-clench,
										steve-lewis,
										tory-maguire,
										tory-shepherd,
										wendy-tuohy !default;